.flex-wrapper {
    display: flex;
    padding-top: 30px;
}
.socials-wrapper {
    padding-top: 10px;
}

.linkedin-social {
    color: #0177B5;
    padding-right: 10px;
    filter: drop-shadow(1px 1px 2px rgb(61, 60, 60));
}
.github-social {
    color: #000;
    padding-right: 10px; 
    filter: drop-shadow(1px 1px 2px rgb(61, 60, 60));
}
.codepen-social {
    color: #000;
    padding-right: 10px;
    filter: drop-shadow(1px 1px 2px rgb(61, 60, 60));
}
