ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  margin-top: 8px;
}